node_modules
npm-debug.log
Dockerfile*
**/Dockerfile*
.dockerignore
.git
.gitignore
.dist
/dist
.vscode
.tmp
.temp
.cache
**/*.log
**/*.swp
**/*.swo
coverage
.env
.env.*
.eslintcache
.DS_Store

skyrdle-admin/.next
skyrdle-admin/node_modules
skyrdle-native/.expo
skyrdle-native/build-*.aab
skyrdle-native/node_modules
